/*****   Event Cart   *****/

#event-cart { margin:2em 0 0;}

#event-cart-qty-frm .ui-widget-header { padding:0 1em; }
#event-cart-qty-frm .event-cart-wrap-dv { margin:0!important; }

#event-cart-qty-frm .event-cart-tbl { margin:0!important; }
#event-cart-qty-frm .event-cart-tbl h6 { margin:.5em 0 0!important; }

#event-cart-qty-frm .event-cart-tbl-spacer { height:0; padding:0; border:none; }
#event-cart-qty-frm .event-cart-tbl-spacer td { height:0; padding:0; }

#event-cart-qty-frm .event-cart-ticket-qty-dv {
	text-align: center;
}

#event-cart-qty-frm .event-cart-update-txt-qty {
	box-sizing: border-box;
	display : inline-block;
	width : 40px;
	height : 31px;
	padding : 8px;
	margin: 0;
	vertical-align : middle;
	line-height : 16px;
	font-size:16px;
	font-weight: normal;
	border-radius:3px !important;
	text-align: center !important;
	white-space: nowrap !important;
}
#event-cart-qty-frm .event-cart-update-buttons {
	cursor: pointer !important;
	display:inline-block !important;
	white-space: nowrap !important;
}

.mini-cart-button,
.cart-results-button,
.event-cart-button {
	border:1px solid #ccc;
	text-decoration: none;
}

.disabled-event-cart-btn,
.disabled-event-cart-btn:hover {
	border: 1px solid #e8e8e8 !important;
	background: #e8e8e8 !important;
	box-shadow: none !important;
}

.mini-cart-button.button,
.cart-results-button.button,
.event-cart-button.button {
	box-sizing: border-box;
	display : inline-block;
	padding : 8px;
	margin: 4px 0 4px 4px;
	vertical-align : middle;
	line-height : 16px;
	font-size:16px;
	font-weight: normal;
	-webkit-user-select: none;
	border-radius:3px;
	text-align: center !important;
	cursor: pointer !important;
	white-space: nowrap !important;
}
#event-cart-qty-frm .event-cart-icon-button {
	width : 31px;
	height : 31px;
}

#event-cart-qty-frm .event-cart-icon-button img {
	background:none!important;
	border:none!important;
	box-shadow: none!important;
}

#event-cart-qty-frm .event-cart-icon-button span {
	display : inline-block;
	float : none;
	padding : 0;
	margin : 0 !important;
	vertical-align : top;
	line-height : 16px;
}

.return-to-event-cart-mini-cart-lnk { float: left; }

#event-cart-qty-frm .event-cart-grand-total { margin:1em 0; clear : both; text-align: right; }
#event-cart-qty-frm .event-cart-whats-next-buttons { margin:2em 0; clear : both; text-align: right; }
#event-cart-qty-frm .event-cart-whats-next-buttons .event-cart-go-back-button span { margin:0 .5em 0 0 !important; }
#event-cart-qty-frm .event-cart-whats-next-buttons .event-cart-register-button span { margin:0 0 0 .5em !important; }


#cart-results-modal-wrap-dv {
    max-height:100% !important;
    max-width:100% !important;
    text-align: center;
	z-index: 10001
}
#cart-results-modal-dv {
	padding: 4em 5em 3.5em;
	background: #FFFFFF;
	border-radius: 3px;
    box-sizing: border-box;
	color: #23282d;
}
#cart-results-modal-dv h3,
#cart-results-modal-dv h5 {
	color: #23282d;
}
#cart-results-current-cart-dv {
	padding: 2em 0 0;
	margin: 2em 0 0;
	border-top: 1px solid #ccc;
}
#cart-results-view-cart-dv {
	text-align: right;
}
.cart-results-button {
	margin: 1em;
}
.cart-results-button-spn + .cart-results-button-spn {
	/*margin-left: 2em;*/
}


.espresso-ajax-modal-notices {
	border-top: 4px solid;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.2em;
	margin: 2em 0 0;
	padding: 2em 1em 1em;
	text-align: left;
}

.espresso-ajax-modal-notices p {
	margin: 0;
}

.espresso-ajax-modal-notices.attention {
	border-color: #F8D755;
}
.espresso-ajax-modal-notices.error {
	border-color: #e44064;
}
.espresso-ajax-modal-notices.success {
	border-color: #70cc50;
}

.event-cart-required-items-notice {
    margin: 1em 0;
    text-align: right;
}

/* Media Query for screens smaller then 768px (iPad portrait)
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 600px) and (min-width: 481px) {
    #cart-results-modal-dv {
        padding: 3.5em 4em 3em;
    }

}

@media only screen and (max-width: 540px) and (min-width: 480px) {

    #cart-results-modal-dv {
        padding: 3em 3em 2.5em;
    }

}

@media only screen and (max-width: 480px) {

    #cart-results-modal-dv {
        border-radius: 0;
        padding: 2em;
    }

    #event-cart-qty-frm .event-cart-update-txt-qty {
        width: 33px;
        height: 27px;
        padding: 6px;
        line-height: 14px;
        font-size: 14px;
    }

    #event-cart-qty-frm .event-cart-icon-button {
        width: 27px;
        height: 27px;
    }

    .mini-cart-button.button,
    .cart-results-button.button,
    .event-cart-button.button {
        padding: 6px;
        margin: 6px 0 3px 3px;
        line-height: 14px;
        font-size: 14px;
    }

}

@media only screen and (max-width: 320px) {
    #cart-results-modal-dv,
    #cart-results-modal-wrap-dv {
        height: 100% !important;
        width: 100% !important;
    }

    #cart-results-modal-dv {
        border-radius: 0;
        padding: 2em 1.5em;
    }

    #event-cart-qty-frm .event-cart-update-txt-qty {
        width: 30px;
        height: 25px;
        padding: 5px;
        line-height: 13px;
        font-size: 13px;
    }

    #event-cart-qty-frm .event-cart-icon-button {
        width: 25px;
        height: 25px;
    }

    .mini-cart-button.button,
    .cart-results-button.button,
    .event-cart-button.button {
        padding: 5px;
        margin: 8px 0 2px 2px;
        line-height: 13px;
        font-size: 13px;
    }

}

@media only screen and (max-width: 240px) {
    #cart-results-modal-dv,
    #cart-results-modal-wrap-dv {
        height: 100% !important;
        width: 100% !important;
    }

    #cart-results-modal-dv {
        border-radius: 0;
        padding: 2em 0;
    }

    #event-cart-qty-frm .event-cart-update-txt-qty {
        width: 28px;
        height: 23px;
        padding: 4px;
        line-height: 12px;
        font-size: 12px;
    }

    #event-cart-qty-frm .event-cart-update-buttons {
        display: inline !important;
        white-space: normal !important;
    }

    #event-cart-qty-frm .event-cart-icon-button {
        width: 23px;
        height: 23px;
    }

    .mini-cart-button.button,
    .cart-results-button.button,
    .event-cart-button.button {
        padding: 4px;
        margin: 8px 2px  3px;
        line-height: 12px;
        font-size: 12px;
    }

    .mini-cart-button.button + .mini-cart-button.button,
    .cart-results-button.button + .cart-results-button.button,
    .event-cart-button.button + .event-cart-button.button {
        margin: 3px 2px;
    }
}
